.container
  %p All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .article
        .card_content
          .card_title
            = board.title
  .add_card
    %p
      = link_to '+ Add new board', new_board_path
    