@import './variables'; 
.btn-primary {
    position: absolute;
    background-color: #F8BD1C;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    position: absolute;
    top: 889px;
    
}