<div class="article_detail_actions">
    <div class="dropdown">
      <%= image_tag 'actions.svg', class: 'dropbtn' %>
      <div class="dropdown-content mini">
        <a href="#">編集する</a>
      </div>
    </div>
  </div>
</div>